.board-bar {
  button {
    position: relative;
    overflow: hidden;
    width: fit-content;
    background-color: var(--blue-color-1);
    color: var(--blue-color-4);
    &:hover {
      background-color: var(--blue-color-2);
      color: var(--blue-color-5);
    }
    .ripple {
      position: absolute;
      border-radius: 50%;
      transform: scale(0);
      animation: ripple 600ms linear;
      background-color: var(--blue-color-3);
    }
  }
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
