<div
  class="board-bar flex justify-between h-header-custom border-t border-t-indigo-400"
>
  <div class="flex space-x-4 py-2 px-3">
    <!-- Board -->
    <button
      class="button-board flex px-3 py-1 rounded cursor-pointer"
      (click)="createRipple($event)"
    >
      <svg viewBox="0 0 24 24" fill="currentColor" class="size-6 mr-2">
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"
        />
      </svg>
      <span>miosora Board</span>
    </button>

    <!-- Public/Private Workplace -->
    <button
      class="flex px-3 py-1 rounded cursor-pointer"
      (click)="createRipple($event)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-6 mr-2"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M22 4v-.5C22 2.12 20.88 1 19.5 1S17 2.12 17 3.5V4c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1h5c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1zm-.8 0h-3.4v-.5c0-.94.76-1.7 1.7-1.7s1.7.76 1.7 1.7V4zm-2.28 8c.04.33.08.66.08 1 0 2.08-.8 3.97-2.1 5.39-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H7v-2h2c.55 0 1-.45 1-1V8h2c1.1 0 2-.9 2-2V3.46c-.95-.3-1.95-.46-3-.46C5.48 3 1 7.48 1 13s4.48 10 10 10 10-4.48 10-10c0-.34-.02-.67-.05-1h-2.03zM10 20.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L8 16v1c0 1.1.9 2 2 2v1.93z"
        />
      </svg>
      <span>Public/Private Workplace</span>
    </button>

    <!-- Add to drive -->
    <button
      class="flex px-3 py-1 rounded cursor-pointer"
      (click)="createRipple($event)"
    >
      <svg viewBox="0 0 24 24" fill="currentColor" class="size-6 mr-2">
        <rect fill="none" height="24" width="24" />
        <path
          d="M20,21v-3h3v-2h-3v-3h-2v3h-3v2h3v3H20z M15.03,21.5H5.66c-0.72,0-1.38-0.38-1.73-1L1.57,16.4c-0.36-0.62-0.35-1.38,0.01-2 L7.92,3.49C8.28,2.88,8.94,2.5,9.65,2.5h4.7c0.71,0,1.37,0.38,1.73,0.99l4.48,7.71C20.06,11.07,19.54,11,19,11 c-0.28,0-0.56,0.02-0.84,0.06L14.35,4.5h-4.7L3.31,15.41l2.35,4.09h7.89C13.9,20.27,14.4,20.95,15.03,21.5z M13.34,15 C13.12,15.63,13,16.3,13,17H7.25l-0.73-1.27l4.58-7.98h1.8l2.53,4.42c-0.56,0.42-1.05,0.93-1.44,1.51l-2-3.49L9.25,15H13.34z"
        />
      </svg>
      <span>Add to drive</span>
    </button>

    <!-- Automation -->
    <button
      class="flex px-3 py-1 rounded cursor-pointer"
      (click)="createRipple($event)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-6 mr-2"
      >
        <path
          d="M11 21h-1l1-7H7.5c-.58 0-.57-.32-.38-.66.19-.34.05-.08.07-.12C8.48 10.94 10.42 7.54 13 3h1l-1 7h3.5c.49 0 .56.33.47.51l-.07.15C12.96 17.55 11 21 11 21z"
        />
      </svg>
      <span>Automation</span>
    </button>

    <!-- Filters -->
    <button
      class="flex px-3 py-1 rounded cursor-pointer"
      (click)="createRipple($event)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-6 mr-2"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z" />
      </svg>
      <span>Filters</span>
    </button>
  </div>

  <div class="avatar-groups flex -space-x-2 items-center px-3 overflow-hidden">
    <img
      class="inline-block mx-1 h-8 w-8 rounded-full ring-1 ring-blue-color-1 object-center object-cover"
      *ngFor="let user of users.slice(0, 3)"
      [src]="user.img"
    />
    <div
      class="inline-block h-8 w-8 rounded-full ring-1 ring-blue-color-1 bg-slate-900 text-center py-1 text-sm"
      *ngIf="users.length > 3"
    >
      +{{ users.length - 3 }}
    </div>
  </div>
</div>
